@import 'variables';
@import 'typography';
@import 'layout/landing-page.scss';
@import 'layout/forms.scss';
@import 'layout/media-queries.scss';
@import 'components/checkbox.scss';
@import 'components/progress-bar.scss';
@import 'components/buttons.scss';


/*BODY*/
body {
  background-color: $base-color;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: $base-color;
}

/*ADDITIONAL CLASSES*/
.hidden {
  visibility: hidden;
}
