/*IMPORT FONTS*/
@font-face {
  font-family: "shapiro regular";
  src: url("./fonts/sharpiro-regular.woff2") format("woff");
}

@font-face {
  font-family: "pro-con medium";
  src: url("./fonts/uniform-pro-con-medium.woff2") format("woff");
}

/*VARIABLES*/
$base-color: rgb(22, 22, 44);
$secondary-color: rgb(255, 255, 255);
$tertiary-color: rgb(109, 68, 250);
$fourth-color: rgb(171, 244, 157);
$base-font: "pro-con medium";
$secondary-font: "shapiro regular";

/*BASE*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  background-color: $base-color;
  position: relative;

  h1 {
    color: $secondary-color;
    font-family: $base-font;
    font-size: clamp(42px, 3vw, 3vw);
  }

  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: clamp(24px, 1.4vw, 1.4vw);
    line-height: clamp(24px, 1vw, 1vw);
  }

  p {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: clamp(18px, 1vw, 1vw);
  }
}

/*LANDING PAGE*/
#landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("/landing.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  position: relative;
  button {
    position: absolute;
    top: 48em;
    left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    background: transparent;
    color: $tertiary-color;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid $tertiary-color;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    z-index: 1;
    &::after {
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      background-color: $tertiary-color;
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover {
      color: $secondary-color;

      &:hover::after {
        width: 100%;
      }
    }
  }
}

/*GENERAL*/
#sign-up-form {
  position: absolute;
  top: calc(50% - 45vh);
  left: calc(50% - 12vw);
  height: min-content;
  width: min-content;
  margin: auto;

  .form-screen {
    align-self: center;
    padding: 2vw 0;
    background-color: $base-color;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    top: 50vh;
  }
}

/*******SIGN-UP FORM PAGE 1******/
#form-one{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin: 1vw;
    }
}
/*PROGRESS BAR*/
#progress-bar {
  display: flex;
  margin: 0 3vw;
  align-content: center;
  align-items: center;

  h2 {
    border: 1px solid $secondary-color;
    display: block;
    padding: 0.5vw;
    border-radius: 50%;
    height: clamp(42px, 1vw, 1vw);
    width: clamp(42px, 1vw, 1vw);
    line-height: clamp(42px, 1vw, 1vw);
    text-align: center;
  }

  .fill{
      color: $base-color;
      background-color: $secondary-color;
  }
}

.line {
  width: 5vw;
  height: 1px;
  background-color: white;
}

/*FORM-GROUP*/
.form-group {
  display: grid;
  box-sizing: border-box;
  padding: 10px 0;

  label {
    color: $secondary-color;
    font-family: $base-font;
    font-size: clamp(22px, 1em, 1em);
  }

  input,
  select{
    padding: 1.2vh;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5vw 0 0.2vw 0;
    font-family: $secondary-font;
    color: white;
    width: 300px;
  }


  input:focus {
    outline: none;
  }

  input:valid{
      border: 1px solid $fourth-color;
  }
}

.hint {
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 14px;
}

/*BUTTON*/
input[type="button"] {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 20px;
  color: $base-color;
  margin: 2vw 0;
  padding: 15px 60px;
  transition: 0.25s;
  font-size: clamp(18px, 1.2vw, 1.2vw);

}

#google {
    margin-bottom: 0;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: transparent;
  color: $secondary-color;
}
/*FORM INFORMATION*/

/*ADDITIONAL CLASSES*/
.hidden {
  visibility: hidden;
}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
