/*IMPORT FONTS*/
@font-face {
    font-family: "shapiro regular";
    src: url("../fonts/sharpiro-regular.woff2") format("woff");
  }
  
  @font-face {
    font-family: "pro-con medium";
    src: url("../fonts/uniform-pro-con-medium.woff2") format("woff");
  }
  
  @font-face {
    font-family: "pro-con black";
    src: url("../fonts/uniform-pro-con-black.woff2") format("woff");
  }
  
  @font-face {
    font-family: "shapiro bold";
    src: url("../fonts/sharpiro-bold.woff2") format("woff");
  }
  

  h1 {
    color: $secondary-color;
    font-family: $base-font;
    font-size: clamp(42px, 3vw, 3vw);
  }

  h2 {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: clamp(24px, 1.4vw, 1.4vw);
    line-height: clamp(24px, 1vw, 1vw);
  }

  p {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: clamp(18px, 1vw, 1vw);
  }