/*VARIABLES*/
$base-color: rgb(22, 22, 44);
$secondary-color: rgb(255, 255, 255);
$third-color: rgb(109, 68, 250);
$fourth-color: rgb(171, 244, 157);
$fifth-color: rgb(255, 194, 164);
$base-font: "pro-con medium";
$secondary-font: "shapiro regular";
$tertiary-font: "pro-con black";
$fourth-font: "shapiro bold";
$filter-fade: linear-gradient(80deg, $base-color, rgb(18, 8, 43, 0.85));
