/*BUTTONS*/
input[type="button"]:not(.close),
input[type="submit"] {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  margin: 1vw 0;
  border-radius: 5vw;
  color: $base-color;
  transition: 0.25s;
  margin: 0.5vw 0;
  padding: 15px 60px;
}

#previous:hover{
  cursor: pointer;
}

#google::before{
  content:"hi ";
}

#google{
  margin: 1vw 0 0 0;
  text-align: center;
  width: clamp(300px, 20vw, 20vw);
  padding: 15px 60px;
}

.close {
  position: absolute;
  top: -2vw;
  right: -1vw;
  border: 1px solid $secondary-color;
  border-radius: 50px;
  width: clamp(50px, 2vw, 2vw);
  height: clamp(50px, 2vw, 2vw);
}

.close:hover {
  background-color: $base-color;
  cursor: pointer;
  color: $secondary-color;
}

input[type="button"]:not(.close):hover,
input[type="submit"]:hover{
  cursor: pointer;
  background-color: transparent;
  color: $secondary-color;
}

.back {
  color: $secondary-color;
  align-self: flex-start;
  margin-left: 2vw;
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
}

#browse{
    margin-top: 3vh;
    margin-left: 2vw;
}
.back:hover {
  cursor: pointer;
}