/*CHECKBOX STYLING*/

[type="checkbox"] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    appearance: none;
  }
  
  [type="checkbox"]:not(:checked) {
    border: 1px solid #54536d;
  }
  
  [type="checkbox"]:checked {
    background-color: rgb(110, 69, 255);
  }
  
  [type="checkbox"]:focus {
    outline: none;
  }
  [type="checkbox"]:checked::before {
    position: absolute;
    content: "✔";
    padding: 0.2vw;
    border-radius: 20px;
    color: $secondary-color;
    left: 8%;
    top: 8%;
    background-color: rgb(110, 69, 255);
  }
  
  input[type="checkbox"]:checked:focus {
    background: $base-color;
    color: white;
  }
  
  input[type="checkbox"]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px -3px rgba(169, 166, 194, 0.92);
  }